@use "../../sass/variables" as *;

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    
    h1{
        font-family: $main-font;
        font-size: 32px;
        font-weight: 600;
        line-height: 60px;
        color: $header-selected;
    }

    #container {
        width: 50%;
    }

    table {
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
        table-layout: fixed;
        color: aliceblue;
        font-size: 30px;

        th{
            font-size: 23px;
            font-family: $alert-font;
            font-weight: 600;
            line-height: 35px;
            color:$header-selected;
            padding: 3rem;
            
        }
    }

    input[type=checkbox]{
        margin-left: 50%;
        scale: 150%;
    }

    .edit{
        margin-right: 15px;
        margin-left: 40%;
        cursor: pointer;
    }

    .delete {
        cursor: pointer;
    }

    input[type=text]{
        padding: 10px;
        margin-top: 2rem;
        height: 40px;
        width: 30%;
    }

    button {
        height: 40px;
        width: 3rem;
    }

}